Readme security information

Regarding this info in the readme:

> He can now proxy your connection on to the real host, reading and modifying all your data at will.

I think it’s not possible since the attacker does not have your private SSH key, thus not able to authenticate with the final destination server on your behalf.

The attacker doesn't do the client authentication, you do it when the attacker simply passes on to you the actual server's request for authentication. In many cases not even your client would be doing the authentication but would simply be passing it on to a key agent (such as OpenSSH's `ssh-agent(1)`), possibly through one or more proxies.

If you think about how key agents work, it's not unusual for an authentication request to pass through several proxies and the agent doing the client authentication not to know anything about who asked for the authentication. Nor should they really care; showing someone else proof that you have access to a particular private key lets them perhaps change their decision about what they'll accept from you, but doesn't force you to do anything you do or do not want to do. You made the decision about what you will send (including whether or not you will reply to client authentication requests) when you authenticated the server.

It's always the SSH client's responsibility to directly authenticate the server before allowing any other protocol messages; this is key to the security of SSH as described in [RFC 4251 section 9.4.1](https://tools.ietf.org/html/rfc4251#section-9.4.1):

> The assumption stated above, that the Authentication Protocol only runs over a secure transport that has previously authenticated the server, is very important to note.  People deploying SSH are reminded of the consequences of man-in-the-middle attacks if the client does not have a very strong a priori association of the server with the host key of that server.

I've dug a lot more deeply into this (see the `PROTOCOLS.md` file that's now in the master branch). As it turns out, there are some circumstances in which an MITM attacker indeed be unable to authenticate using the SSH-USERAUTH protocol (basically, you must be using `publickey` authentication and you must not have agent forwarding). That said, the attacker can always ask you to authenticate and accept whatever you give it, at which point you appear to have an authenticated connection to the server, which opens up several avenues of attack:

1. As I mentioned in my first reply, if you have agent forwarding enabled the attacker can then attempt to authenticate itself to the real server and use your agent to sign the authentication. I've looked into the details of the SSH agent authentication protocol (see the `PROTOCOL.agent` file in the OpenSSH source distribution) and I don't see any obvious reason this wouldn't work.

2. For some attacks, such as when you're simply sending and receiving files via SFTP, the attacker might not connect to the real server at all but simply impersonate it, accepting any files you send to it and giving you files with random data or whatever whenever you request a download.

At this point I'm still quite satisfied that you should always properly authenticate servers the way the protocol was designed to do so. However, I've tweaked the wording in the README slightly to indicate that the attacker doesn't necessarily have the ability in all circumstances to authenticate to the server as the client.